@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.item {
  animation: slideIn 1.5s ease-out forwards;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #0d039b42 5%, var(--bg-color) 70%);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.itemImagen {
  width: 100%;
  overflow: hidden;
}

.itemImagen img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9; 
  object-fit: cover; 
  object-position: center; 
  transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.itemImagen:hover img {
  transform: scale(1.05);
}

.item h3 {
  font-family: var(--font-family-mono);
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

.itemTecnologias {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.itemTexto {
  display: flex;
  height: 30%;
  padding: 1.5em;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}

.itemDirecciones {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 1em;
}


.itemDirecciones button:hover {
  background-color: var(--highlight-hover-color);
}

.itemDirecciones button svg {
  font-size: 1.2rem;
}

.item:nth-child(even) {
  animation-delay: 0.4s;
}

.item:nth-child(odd) {
  animation-delay: 0.6s;
}